html,body{
	height: 100%;
	font-family: Helvetica, Arial,sans-serif;
	background-color: white;
}
a:hover{
	text-decoration: underline;
}
.justificar{
	text-align: justify;
}
.link{
	text-decoration: none;
}
.flotar{
	float: left;
}
.flotarDer{
	float: right;
}
.bck{
	display: block;
}
.inline-bck{
	display: inline-block;
}
.absoluto{
	position: absolute;
}
.relativo{
	position: relative;
}
.anchoBoton{
	width:10%;
}
.letraBlanca{
	color: white;
}
.tamañoFoto{
	width: 20%;
	height: 20%;
}
.centrarBtn{
	margin-left: 41%;
	margin-bottom: 5%;
}
.margenDer {
	margin-right: 150px;
}
.portada{
    width: 100%;
    height: 100%;
    background-color: #4A148C;
}
#intermedia{
  text-align: center;
  font-family: inherit;
}
.h2SeccionInter {
	margin-top: 100px;
	margin-bottom: 0;
  font-size: 40px;
  color: #333;
}

.h3SeccionInter {
  font-size: 25px;
  margin-bottom: 0;
}
.p1SeccionInter {
  font-size: 20px;
  width: 900px;
  margin-left: 180px;
	margin-top: 10px;;
}

.pColor ,.h3Color{
    color: #555;
}
.p{
  margin: 0 0 10px;
  line-height: 1.5;
}
.seccionInter {
  display: flex;
}
.lineaChiquita {
  width: 100px;
  margin: 40px auto;
}

.pFinal {
  font-size: 20px;
}

.btnSeccionInter {
  font-size: 18px;
  padding: 12px;
  margin-bottom: 100px;
  border-radius: 10px;
  background: white;
  color: #563d7c;
  border-color: #563d7c;
}

.btnSeccionInter:hover {
  background: #563d7c;
  color: white;
}
